@font-face {
    font-family: "Poppins";
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

/* L'étoile donne du style à TOUS les éléments */
/* {
    margin: 0;
    padding: 0;
}*/

body {
    font-family: "Poppins", sans-sherif;
    background: url(./assets/img/background.jpg) center/cover;
    /* VH = 100% de la taille de l'écran (viewport height) */ 
    /* min-height: 100vh; */
}


h1 {
    letter-spacing: 3px;
    text-align: center;
    /* Les tailles de polices doivent être en REM */
    /*vw = responsive texte */ 
    font-size: 8vw;
    color: #030303;
    font-family: "Poppins", sans-serif;
}

main {
    min-height: 500px;
    width: 90%;
    background: wheat;
    /* Centrer une boite */
    margin: 0 auto;
    border: 2px solid rgb(190, 206, 132);
    border-radius: 15px 15px 15px 15px;
    padding: 15px;
}

h2 {
    margin: 0;
}

.flexbox,
.grid,
.absolute {
    border: 2px dashed #f0af25;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    min-height: 150px;
}

/* FLEXBOX */
/* Sert a répartir équitablement des éléments sur la page */
.flexbox ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.flexbox li {
    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: #f0af25;
    /* Centrer un unique élément verticalement et horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid img {
    width: 80%;
    margin: 20px auto;
    display: block;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "i1 i2"
    "ta ta"
    "vi bt";
}

input, textarea {
    margin: 5px;
    border: 1px solid rgb(51, 221, 45);
    padding: 10px;
    font-size: 1.1rem;
    font-family: "Poppins";
    border-radius: 5px;
}

textarea {
    grid-area: ta;
    height: 40px;
    resize: none;
}

#btn-submit {
    grid-area: bt;
    cursor: pointer;
    background-color: #f0af25;
    border-radius: 20px;
    transition: 0.2s;
}

#btn-submit:hover {
    background: greenyellow;
}

/* ABSOLUTE */
/* Sans élément en Relative, de base, l'élément absolute l'est par rapport au Body */
/* Il faut mettre une position relative au parent pour contraindre
l'élément absolute dans ses frontières */
.absolute {
    position: relative;
}
#circle1 {
    height: 60px;
    width: 60px;
    background: skyblue;
    position: absolute;
    border-radius: 150px;
    top: -20px;
    right: -20px;
}

#circle2 {
    height: 100px;
    width: 100px;
    border-radius: 150px;
    background: url(./assets/img/Logo_GulRok.png) center/cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}

/* RESPONSIVE */
@media screen and (max-width: 900px) {
    .grid-container {
        display: block;
    }
    .grid-container img {
        width: 40%;
    }
}

@media screen and (max-width: 610px) {
    .flexbox ul {
        flex-direction: column;
        align-items: center;
    }
    form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "i1"
        "i2"
        "ta"
        "bt";
    }
    input,
    textarea {
        font-size: 0.8rem;
    }
}